body {
  font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
  line-height: 1.5;
  font-size: 15px;
  margin: 20px;
}
h1 {
  font-size: 1.2rem;
}

ol, ul {
  padding-left: 30px;
}

.turn {
  display: flex;
  justify-content: space-around;
  padding: 8px 16px;
  font-size: 1.2rem;
}

.active{
  border-bottom: 3px solid black;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.square {
  background: #fff;
  border: 2px solid black;
  float: left;
  font-size: 2rem;
  line-height: 34px;
  height: 48px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 48px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

/* .game {
  display: flex;
  flex-direction: row;
} */

.game-info {
  margin-left: 20px;
}

.board-row {
  display: flex;
  justify-content: center;
}