.active{
  border-bottom: 3px solid black;
}

.square {
  background: #fff;
  border: 2px solid black;
  float: left;
  font-size: 2rem;
  line-height: 34px;
  height: 48px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 48px;
  cursor: pointer;
}

.square:focus {
  outline: none;
}
